@import "~bootstrap/scss/bootstrap";

* {
    cursor: default !important;
}

html, body {
    overflow: hidden;
}

.tab-content {
    height: 500px;
    width: 100%;
    overflow: scroll;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}
