<!doctype html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Kiosk Client</title>

  <link rel="stylesheet" href="../styles/bootstrap.min.css">
  <link rel="stylesheet" href="../styles/main.css">

</head>
<body>
<div class="flex-center position-ref full-height">
  <div class="content">
    <div class="links">
      <div>
        This kiosk is loading a new package. Please be patient while this operation finishes.
      </div>
    </div>
  </div>
</div>
</body>
</html>
